{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
<br/>
{{ .Content }}

<div class="posts-list">
{{ range .Data.Pages }}
    {{ if eq .File.ContentBaseName "_index" }}
    </div>
    {{ .Summary }} <a href="{{ .Permalink }}">(more)</a>
    <div>
    {{ else }}
    <div class="post">
        <p>
            <div class="date"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .File.ContentBaseName }}</a></div>    
            {{ .Summary }}
        </p>
    </div>
    {{ end }}
{{ end }}
</div>

{{ end }}
